h1{
    color: burlywood;
    background-color: black;
}
*{color:black;
background-color: gold;
border-color: black;}

#one{
    color: burlywood;
    background-color: black;
    
    
}

#two{
    color: burlywood;
    background-color: black;
}

#three{
    color: burlywood;
    background-color: black;
}

#four{
    color: burlywood;
    background-color: black;
}
